<div class="content">
  <div class="w1002 margin"> 
    <div class="page_left">
      <div class="ntit">关于高科</div>
      <ul class="nnva">
        <li class="hover"><a href="/channels/23.html">高科简介</a><ul class="erji"></ul></li><li><a href="/channels/24.html">大事记</a></li><li><a href="/channels/25.html">机构设置</a></li><li><a href="/channels/180.html">下属机构</a></li><li><a href="/channels/27.html">对外投资</a></li><li><a href="/channels/71.html">联系我们</a></li>
      </ul>

      <div class="left_ad1"><a href="/channels/23.html"><img src="/images/about_r8_c2.jpg" border="0"></a></div>
    </div>

    <div class="page_right">
      <div class="dqwz"><span>您现在的位置：<a href="/index.htm">首页</a> &gt; <a href="/channels/23.html">关于高科</a> &gt; <a href="/channels/23.html">高科简介</a></span>高科简介</div>
      <div class="channelbox"></div>
    </div>
  </div>
</div>